@import 'main';

.Block-five{
    height:100vh;
    & .wrap-pictures{
        max-width:100%;
        height:100%;
        display: flex;
        & .ANIMPICTURE{
            // padding:5px;
            transition: transform 0.2s;
            max-height:100%;
            &:hover{
                transform: scale(0.9);
            }
        }
        & .picture-regular{
            max-width:22%;
            max-height:100%;
            display: flex;
            flex-wrap: wrap;

            & .large-picture{
                width:100%;
                height:64%;

            }
            & .small-picture{
                width:50%;
                height:36%;

            }
        }
        & .picture-large{
            width:36.75%;
            max-height:100%;
        }
        & .picture-small{
            width:19.25%;
            max-height:100%;
        }


        * .focused-picture{
            width:100%;
            height:100%;
        }
    }
}