@import 'main';

.block-four{
    margin : 60px 0 0 0 ;
    max-height:100vh;
    color: $b;
    .text{
        font-family: Roboto-bd;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
    }
    .wrap-cards{
        display: flex;
        max-width:1140px;
        justify-content: space-between;
        margin: 60px auto 0 auto;
    }
    .card{
        max-width:290px;
    }
    .card-content{
        & p{
            font-family: Roboto-m;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            margin:10px 0;

        }
        & img{
            width: 270px;
            height: 270px;
        }
        & .text-news{
            margin:10px 0;
            font-family: Roboto-l;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            max-width:270px;
        }
        & button{
            background:transparent;
            border: 0px;
            font-family: Roboto-r;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color:$b;
            line-height: 21px;
            text-decoration-line: underline;
            transition: color 0.15s,transform 0.15s;
            &:hover{
                cursor: pointer;
                color:$g;
            }
            &:active{
                transform: translateY(5px);
            }
        }

    }
}
