@font-face {
    font-family: Roboto-r;
    font-weight: 400;
    src: url('../other/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: Roboto-l;
    font-weight: 300;
    src: url('../other/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: Roboto-m;
    font-weight: 500;
    src: url('../other/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: Roboto-bd;
    font-weight: 700;
    src: url('../other/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: Roboto-b;
    font-weight: 900;
    src: url('../other/Roboto/Roboto-Black.ttf');
}

$b:#212121;
$g:#59B948;
$anim-y:5px;

ul,p,html,body,h1{
    margin:0;
    padding:0;
}
body{
    min-height:1500vh;
    // background:$b;

}
.nav-btn{
    width: 147px;
}
.block-first-btn{
    width: 175px;
}
.makeOrderBtn{
    user-select: none;

    

    
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:12px;
    transition: 0.15s;

    & p{
        transition: 0.15s;
        font-family: Roboto-r;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        
        
        text-transform: uppercase;
    }

    border: 2px solid $g;
    box-sizing: border-box;
    // from white to green
    &.w-g p{
        color: $g;
    }
    &.w-g:hover{
        cursor: pointer;
        background: rgba(89, 185, 72, 0.8);
        border: 2px solid $g;
        box-sizing: border-box;
       
        & p{
            color:#fff;
        }
    }
    &:active{
        transform: translateY($anim-y);
    }
    // from green to white
    &.g-w {
        background: rgba(89, 185, 72, 0.8);
        border: 2px solid $g;
        & p{
            color: #fff;
        }
    }
    &.g-w:hover{
        cursor: pointer;
        background: rgba(89, 185, 72, 0.0);
        box-sizing: border-box;
        & p{
            color:$g;
        }
       
    }
}